@{
    ViewBag.Title = "Home Page";
}
<div class="container img-container">
    <img src="~/Content/images/sms.png" alt="image" height="350" width="1000">
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-3 div-icons">
        <div class="in-icons">
            <i class="bi bi-person-arms-up icon-size"></i>
            <br />
            <p><a class="btn btn-default btn-primary" href="Student/Index">Student </a></p>
        </div>
        
    </div>
    
    <div class="col-md-2  div-icons">
        <div class="in-icons">
            <i class="bi bi-file-earmark-person icon-size"></i>
            <br />
            <p><a class="btn btn-default btn-primary" href="/Teacher/Index">Teacher </a></p>
        </div>
        
    </div>
    
    <div class="col-md-2 1 div-icons">
        <div class="in-icons">
            <i class="bi bi-book icon-size"></i>
            <br />
            <p><a class="btn btn-default btn-primary" href="Subject/Index">Subject </a></p>
        </div>
       
    </div>
    

</div>
