@{
    ViewBag.Title = "Home Page";
}
<div class="container img-container">
    <img src="~/Content/images/sms.png" alt="image" height="350" width="1000">
</div>
<br />
<br />
<div class="container body-title">
    <div><img src="~/Content/images/logo.jpg" alt="logo" /></div>
     <h1 class="h1-heading">Student Management System</h1>
    
</div>

<br />
<br />
